<ion-header>
	<ion-toolbar color="secondary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title style="float: right;">Create a new task</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card>
	
		<form #taskForm="ngForm">
			<ion-item>
				<ion-input
					type="number" 
					required
           			[(ngModel)] = "task.id" 
           			name="id"
          			#name="ngModel" placeholder="Id">
				</ion-input>
			</ion-item>
			<ion-item>				
				<ion-input 
					type="text" 
					required
           			[(ngModel)] = "task.title" 
           			name="name"
          			#name="ngModel" placeholder="Task name">
          		</ion-input>
			</ion-item>

			<ion-item *ngFor = "let subtask of subtasks; let i=index">	
				<ion-icon name="arrow-dropright"></ion-icon>			
				<ion-input placeholder="Subtask name"></ion-input>
			</ion-item>
		</form>
	</ion-card>
	<ion-button (click) = "addSubTask()" shape = "round" expand="full" color="secondary">Add subtask</ion-button>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click) = "createTask()" routerLink="/list" color="secondary">
			<ion-icon name="checkmark"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>