<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar uma atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<form action="">
		<ion-item>
		  <ion-label position="floating">Título</ion-label>
		  <ion-input></ion-input>
		</ion-item>
		<ion-item>
		    <ion-label>Data</ion-label>
		    <ion-datetime
		      display-format="DDDD D MMMM"
		      picker-format="DD MMMM"
		      month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
		      month-short-names="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"
		      day-names="Domingo, Segunda, Terça, Quarta, Quinta, Sexta, Sábado"
		      day-short-names="Dom, Seg, Ter, Qua, Qui, Sex, Sáb">
		    </ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label>Horário</ion-label>
			<ion-datetime
		      display-format="HH:mm"
		      picker-format="HH mm">
		    </ion-datetime>
		</ion-item>
	</form>
</ion-content>
