<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="float: right">My to do list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-card>

      <ion-card-header>
          <ion-icon style = "float: right; margin-top: 8px; font-size: 20px; " name="trash"></ion-icon>
        <ion-card-title>Título da atividade</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list style="background-color: #ffff">

          <ion-item>
            <ion-checkbox color="secondary"></ion-checkbox>
            <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox color="secondary"></ion-checkbox>
            <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox color="secondary"></ion-checkbox>
            <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
          </ion-item>

          <ion-item>
            <ion-checkbox color="secondary"></ion-checkbox>
            <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
          </ion-item>



        </ion-list>
      </ion-card-content>

    </ion-card>

    <ion-card>

        <ion-card-header>
          <ion-card-title>Título da atividade</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <ion-list style="background-color: #ffff">
  
            <ion-item>
              <ion-checkbox color="secondary"></ion-checkbox>
              <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
            </ion-item>
  
            <ion-item>
              <ion-checkbox color="secondary"></ion-checkbox>
              <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
            </ion-item>
  
            <ion-item>
              <ion-checkbox color="secondary"></ion-checkbox>
              <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
            </ion-item>
  
            <ion-item>
              <ion-checkbox color="secondary"></ion-checkbox>
              <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
            </ion-item>
  
  
  
          </ion-list>
        </ion-card-content>
  
      </ion-card>

      <ion-card>

          <ion-card-header>
            <ion-card-title>Título da atividade</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            <ion-list style="background-color: #ffff">
    
              <ion-item>
                <ion-checkbox color="secondary"></ion-checkbox>
                <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
              </ion-item>
    
              <ion-item>
                <ion-checkbox color="secondary"></ion-checkbox>
                <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
              </ion-item>
    
              <ion-item>
                <ion-checkbox color="secondary"></ion-checkbox>
                <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
              </ion-item>
    
              <ion-item>
                <ion-checkbox color="secondary"></ion-checkbox>
                <ion-label style="margin-left: 5px;">Daenerys Targaryen</ion-label>
              </ion-item>
    
    
    
            </ion-list>
          </ion-card-content>
    
        </ion-card>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style = "margin-top: 60px;"></div>

</ion-content>