<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="float: right">My to do list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-card *ngFor = "let card of listElem">

      <ion-card-header>
        <ion-icon *ngIf="!card.expanded" style = "float: right; font-size: 30px;"(click)="expandCard(card.id)" name="add"></ion-icon>
        <ion-icon *ngIf="card.expanded" style = "float: right; font-size: 30px;"(click)="expandCard(card.id)" name="remove"></ion-icon>
        <ion-card-title>{{card.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf = "card.expanded" style = "margin-top: -20px;">
        <ion-list style="background-color: #ffff">

          <ion-item *ngFor = "let item of card.items">
            <ion-checkbox color="secondary" checked="{{ item.checked }}"></ion-checkbox>
            <ion-label style="margin-left: 5px;">{{ item.name }}</ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>

    </ion-card>


  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div style = "margin-top: 60px;"></div>

</ion-content>