<!-- <ion-header>
  <ion-toolbar>
    <ion-title>TODO App</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
 <ion-slides pager="false">

    <ion-slide>
	  <ion-col>
        <ion-row>
	      <img src="../../assets/imgs/imagem.png">
        </ion-row>
        <ion-row>
	      <h1>Bem-vindo ao <b>TODO APP</b></h1>
	  	</ion-row>
	    <ion-row> 
	      <p>Um aplicativo desenvolvido em <b>IONIC</b> para gerenciamento de atividades diárias.</p>
	  	</ion-row>
	  </ion-col>
    </ion-slide>

    <ion-slide>
      <ion-col>
        <ion-row>
          <img src="../../assets/imgs/imagem.png">
        </ion-row>
        <ion-row> 
          <p>Gerencie suas atividades e não perca nem um encontro!</p>
        </ion-row>
    </ion-col>
    </ion-slide>

    <ion-slide>
      <ion-col>
        <ion-row>
          <img src="../../assets/imgs/imagem.png">
        </ion-row>
        <ion-row> 
          <p>E aí, gostou? Então vamos lá...</p>
        </ion-row>
        <ion-row>
          <ion-button>
            Continue
          </ion-button>
        </ion-row>
    </ion-col>
    </ion-slide>

  </ion-slides>
</ion-content>